<form class="formulari-cerca" (ngSubmit)="cercar()" #formCerca="ngForm">
    <div class="grup-camp">
        <label for="camp-cerca">Cercar películ·les:</label>
        <div class="contenidor-input">
            <input type="text" id="camp-cerca" name="cerca" [(ngModel)]="textCerca" placeholder="Minim 3 caràcters" required minlength="3" class="input-cerca" #campCerca="ngModel" aria-describedby="error-busqueda" [attr.aria-invalid]="campCerca.invalid && campCerca.touched">
            <button type="submit" class="boto-cerca" [disabled]="formCerca.invalid" aria-label="Cercar películ·les a la llista" >
                <i class="bi bi-search" aria-hidden="true"></i>Cercar
            </button>
            <button type="button" class="boto-netejar" (click)="netejar()" *ngIf="textCerca" aria-label="Esborrar cerca">
                <i class="bi bi-x-lg" aria-hidden="true"></i> Netejar   
            </button>
        </div>

    </div>
</form>